<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý lớp học</title>
    <!-- Bootstrap CSS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .checkout-all-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body class="container my-5">
    <div class="row mb-4">
        <div class="col-md-6">
            <h1>Điểm danh</h1>
            <h3>Xin chào giảng viên {{user}}</h3>
        </div>
        <div class="position-relative">
            <button class="btn btn-warning position-absolute top-0 end-0 m-3">
                <a href="/logout" class="text-decoration-none text-dark">Log out</a>
            </button>
        </div>

    </div>

    <form id="date-form" class="row g-3">
        <div class="col-md-6">
            <label for="date" class="form-label">Chọn ngày:</label>
            <input type="date" id="date" name="date" class="form-control" required>
        </div>
        <div class="col-md-6 d-flex align-items-end">
            <button type="submit" class="btn btn-primary">Truy vấn thông tin</button>
        </div>
    </form>

    <!-- Div to display results -->
    <div id="result" class="mt-4"></div>
    <div class="col-md-6 checkout-all-container">
        <button id="checkout-all" class="btn btn-warning">Kết thúc lớp học</button>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
